[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bayesplay"]
	path = bayesplay
	url = https://github.com/bayesplay/bayesplay
	shallow = true
	registered = true
